.news{
    background: #F2F2F2;
    padding: 17px;
}

.form-news{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.email-confirmation-text{
    text-align: center;
    font-size: 0.9rem;
}

.email-confirmation-sub-text{
    text-align: center;
    color: gray;
    font-size: 0.8rem;
    margin-bottom: 20px;
}

.news h2{
    margin-bottom: 0;
    font-size: 24px;
    line-height: 26px;
    color: #333333;
    font-weight: 700;
}

.form-news input{
    margin: 15px 0;
    border: none;
    border-radius: 5px;
    padding: 20px;
}

.form-news button{
    background-color: #000;
    color: #fff;
    font-weight: bold;
    padding: 18px 24px;
    border-radius: 5px;
    border:none;
}

@media (min-width: 1024px){
    .form-news{
        flex-flow: row;
        justify-content: center;
        align-items: center;
    }
    
    .news h2{
        text-align: center;
        margin: 0;
    }

    .form-news input{
        width: 280px;
        margin: 10px 8px;
        border: none;
        border-radius: 5px;
        padding: 20px;
    }
    
    .form-news button{
        height: 48px;
    }
}