.footer{
    background-color: #000;
    color: #fff;
    padding: 20px;
}

.footer h2{
    font-size: 60px;
    font-weight: bold;
    margin-top: -40px;
}

.footer p{
    margin-bottom: 10px;
}

.footer p:last-child{
    margin-bottom: 50px;
}

.texto-logo-buttons{
    margin-bottom: 26px;
}

.footer button{
    width: 198px;
    height: 38px;
    margin-bottom: 28px;
    margin-left: calc((100% - 198px)/2);
    margin-right: calc((100% - 198px)/2);
    border: none;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.phone-button img{
    margin-left: 8px;
}

.logo-footer{
    display: flex;
    justify-content: space-around;
}

.texto-logo-footer{
    font-size: 12px;
}

@media (min-width: 1024px){
    .footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .phone-button{
        margin-top: 24px;
    }
    
    .texto-logo-footer{
        margin-right: 70px;
    }
}