.banner-mobile{
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.425), rgba(0, 0, 0, 0.425)), url('../../img/banner-mobile.png') #000 no-repeat center ;
    background-size: cover;
}

.banner-desktop{
    color: #fff;
    background: url('../../img/banner-desk.png') #000 no-repeat ;
    background-position-x: right;
    background-size: 47vw 100%;
    padding-top: 50px;
    padding-bottom: 10px;
    display: none;
}

.banner-wave{
    display: none;
}

.banner-content-desktop{
    max-width: 590px;
    margin-left: 18%;
    z-index: 1;
}

.banner-content-desktop h3{
    font-size: 22px;
    font-weight: 300;
    z-index: 1;
}

.banner-content-desktop h2{
    font-size: 35px;
    font-weight: bold;
    z-index: 1;
}

.banner-content-mobile{
    padding: 6%;
}

.banner-content-mobile h2{
    font-size: 1.8em ;
    font-weight: bold;
}

.slider{
    margin: 10px calc((100% - 48px)/2);
    z-index: 1;
}

@media (min-width: 1024px){
    .banner-mobile{
        display: none;
    }

    .banner-desktop{
        display: flex;
        flex-flow: column;
    }

    .banner-wave{
        display: inline-block;
        position: absolute;
        transform: rotate(90deg);
        height: 55px;
        align-self: center;
        margin-left: 57px;
        margin-top: 48px;
    }

    .slider{
        margin-top: 50px;
    }
}

@media (min-width: 1440px){
    .banner-wave{
        margin-left: 4.5%;
    }
}

@media (min-width: 1840px){
    .banner-wave{
        margin-left: 4%;
    }
}

@media (min-width: 2800px){
    .banner-wave{
        margin-left: 3.7%;
    }
}