.header-desktop{
    display: none;
}

.search-bar input{
    width: 540px;
    border: none;
    border-bottom: solid 1px gray;
}

.header-line-1{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 10px;
    margin-bottom: 20px;
}

.header-line-2{
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
    border-bottom: 1px solid #7A7A7A;
    margin-bottom: 20px;
}

.header-line-2 input{
    border: none;
    margin-bottom: 2px;
}

.user-section{
    display: flex;
}

.num-cart{
    font-size: 0.9rem;
    margin-left: 4px;
    margin-top: -3px;
    background-color: #F8475F;
    color: #fff;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

@media (min-width: 1024px){
    .header-desktop{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 10px;
    }
    
    .header-mobile{
        display: none;
    }
    
    .header-user-logo{
        margin-right: 5px;
    }

    .header-desktop a{
        margin-right: 20px;
    }
}